
body {
    background-color: #F8F8FF;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

body > header {
    background-color: #F8F8FF;
    padding: 1em;
}

.info > img{
  width: 50%;
}

.lateral .user{
    text-align: center;
    margin: 4% 0% 0% 6% ;
    padding-top: 10%;
    border-top: 2px solid #696969;
    color: #696969;
}

.lateral .user a{
    text-decoration: none;
    color: #696969;
    font-weight: bold;
}

.categories h2{
    display: none;
}

.lateral {
    width: 13%; 
    height: 100%;
    background-color: #F8F8FF;
    position: absolute;
    margin-top: 1%;
}

.categories ul{
   text-align: center;
   align-content: center;
   padding-left: 0%;
   margin-left: 0%;
}

.categories ul li {
    align-content: left;
    list-style: none;
    display: block;

}

.categories a, .AddCatBtn .CatBtn {
    background-color: #F8F8FF;
    color:  #696969;
    display: block; 
    padding: 10%; 
    text-decoration: none; 
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.categories a:hover, .AddCatBtn:hover .CatBtn:hover {
    background-color: #ccc; 
}

.categories a.active {
    background-color: #4CAF50; 
    color: white; 
}



.todo {
    position: relative;
    margin-top: 1%;
    float: right;
    width: 80%;
    line-height: 8px;
}

#editProfile {
  position: relative;
  margin-top: 1%;
  float: right;
  width: 80%;
  line-height: 8px;
}

.friends{
    position: relative;
    margin-top: 1%;
    float: right;
    width: 80%;
    height: 200px;
}

.friends > ul{
text-align: center;
}
.friends > ul > li{
display: inline-block;
margin-right: 10px;
}

.buttonFriend{
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}
.buttonFriend:hover{
     background-color: #45a049;
}

.friend{
    display: inline-block;
    margin-right: 2%;
}

.friend p {
    text-align: center;
}

.todo div {
    border-radius: 5px;
    width: 90%;
}

.todos {
    align-content: left;
    width: 87%;
}


.todos > article:nth-child(n){
    border-radius: 5px;
    border: 1px solid #c8c8ce;
    padding-left: 2%;
    margin-bottom: 0.5%;
    height: 145px; 
    width: 100%;
}
.todos:nth-child(n) .name {
    font-size: 20px;
    font-weight: bold;
}

.todos:nth-child(n) label {
  vertical-align: middle;
  color:black;
}

.todos:nth-child(n) input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.3); /* IE */
    -moz-transform: scale(1.3); /* FF */
    -webkit-transform: scale(1.3); /* Safari and Chrome */
    -o-transform: scale(1.3); /* Opera */
    vertical-align: middle;
}



.todos > article > ul > li > a {
  font-size: 125%;
  vertical-align: middle;
  color:black;
}


.todos ul{
  list-style:none;
  text-align: right;
  margin-left: 40%;
}

.todos ul li{
    display: inline-block;
    padding-right: 5%;
}

.todo .add a {
    text-decoration:none;
    color: white;
    font-weight: bold;
}

.todo .add {
    width: 87.5%;
    background-color: #45a049; 
    border: none;
    padding: 1.5% 2.5%;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    display: block;  
    margin-bottom: 10px;
}
.todo .add:hover{
  background-color: #4CAF50;
}


textarea {
    width: 80%;
    height: 100px;
    resize: none;
}

input[type=text], input[type=password], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*botton submit*/
.Buttons input[type=submit] {
    width: 80%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.Buttons input[type=submit]:hover {
    background-color: #45a049;
}

.Buttons > ul {
  list-style:none;
  margin:0;
  font-size:110%;
  padding-top:200px;
  padding-left:700px;
}

.Buttons > ul > li a {
    text-decoration:none;
    color:white;
}

.Buttons > ul > li {
    display: inline-block;
    width: 80%;
    background-color: #555555;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
    
}

.Buttons > ul > li:hover{
   background-color: #45a049;   
}

/*Bottons in first page */
.startButtons {
    top:10%;
    right:20%;
    text-align: center;
    position:absolute;
    width:100%;

}

.startButtons > ul {
  top:500px;
  list-style:none;
  margin:0;
  font-size:110%;
  padding-top:350px;
  padding-left:35%;
}

.startButtons > ul > li a {
    font-size: 20px;
    text-decoration:none;
    color:white;
}

.startButtons > ul > li { 
    width: 100px;
    background-color: #45a049;  
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;    
    margin: 30px;
    border-radius: 8px;  
    box-shadow: 10px 10px 5px #555555;

}

.startButtons > ul > li:hover{ 
   background-color: #555555;
}

/*image background */
#bg {
   width: 100%; 
   height: 100%; 
   position: fixed; 
   left: 0px; 
   top: 0px; 
   z-index: -1; 
   opacity: 0.75;
}

#bg .stretch {
    width:100%;
    height:100%;
}


/*page register */

.register{ 
    text-align: center;
}

.form-1::before, .addtodo::before{
 position: absolute;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 content: "";
 z-index: -1;
}

.form-1{
    /* Size & position */
    width: 450px;
    margin: 8% auto 30px;
    padding: 10px;
    position: relative; /* For the submit button positioning */
    color: white;
    font-weight: bold;

    /* Styles */
    box-shadow: 
    0 0 1px rgba(0, 0, 0, 0.3), 
    0 3px 7px rgba(0, 0, 0, 0.3), 
    inset 0 1px rgba(0,0,0,0.3),
    inset 0 -3px 2px rgba(0,0,0,0.25);
    border-radius: 5px;
    background-color: rgba(109, 109, 109, 0.8);
}

.form-1 .field {
    position: center; 
    width: 550px;
}

.addtodo{
    /* Size & position */
    width: 70%;
    height: 475px;
    position: relative; 
    color: white;
    font-weight: bold;

    /* Styles */
    box-shadow: 
    0 0 1px rgba(0, 0, 0, 0.3), 
    0 3px 7px rgba(0, 0, 0, 0.3), 
    inset 0 1px rgba(0,0,0,0.3),
    inset 0 -3px 2px rgba(0,0,0,0.25);
    border-radius: 5px;
    background-color: rgba(109, 109, 109, 0.8);
}

.addtodo .field:first-child {
    padding-top: 15px;
}

.addtodo .field {
    padding-left: 2%;
    position: center; 
    width: 120%;
}

.addtodo  .description{
    padding-left: 2%;
    padding-right: 2%;
    width: 118%;
}

#dateofactivitylabel{
 padding: 2%;
}
#dateofactivity {
    padding-left: 2%;
}


.regBottons{
   text-align: center; 
   margin-right: 40px;
}

.editButtons{
   text-align: right; 
   margin-right: 18%;
}


.addToDoBottons ul {
    margin-top: 0px;
}

.regBottons input[type=submit], .regBottons input[type=reset],
.addToDoBottons input[type=submit], input[type=reset] {
    width: 40%;
    background-color: #4CAF50;
    color: white;
    padding: 1.8% 2%;
    border: none;
    border-radius: 4px;
    box-shadow: 10px 10px 5px #555555;
    cursor: pointer;  
}

.editButtons input[type=submit], .editButtons input[type=reset] 
{
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 1.8% 2%;
    border: none;
    border-radius: 4px;
    box-shadow: 10px 10px 5px #555555;
    cursor: pointer;  
    margin-left: 2%;
}

.regBottons input[type=submit]:hover, input[type=reset]:hover,
.addToDoBottons input[type=submit]:hover, input[type=reset]:hover,
.editButtons input[type=submit]:hover, input[type=reset]:hover
{
    background-color: #555555;
}

.regBottons > ul, .addToDoBottons > ul {
    text-decoration:none;
    color:white;
    display: block;
    position: center; 
}

.regBottons input[type=file], .addToDoBottons input[type=file] {
  display: block;
  position:relative;
  display:inline-block;    
  border-radius:8px;
  border:#ebebeb solid 1px;
  width:250px; 
  padding: 4px 6px 4px 8px;
  color: #7f7f7f;
  margin-top: 2px;
  background:white;
  -webkit-appearance:none; 
  position:absolute;
  top:0; left:0;
  opacity:0;
}

/*page Add to Do*/
.addToDoBottons input[type=submit], input[type=reset] {
    width: 20%;
    margin-top: 20px;
    margin-right:30px;
}

.addToDoBottons{
    text-align: right;
}


/*page login */

/* The Modal (background) */
.modal, .modal2, .modal3{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    max-height:200px; 
}

/* Modal Content */
.modal-content, .modal-content3 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    position: relative;
    text-align: left;
    overflow-y: auto;
}

/* Modal Content */
.modal-content3 {
    max-height:400px; 
}

.modal-content .addCat .field, 
.modal-content .addFriend .field,
.modal-content .friendTodos .field
{
    position: center; 
    width: 90%;
    display: inline-block;
    height: 120px;
    overflow-y: auto;
}

.modal-content3 > label 
{
    font-size: 20px;
    font-weight: bold;
    color: #4caf50;
}

.modal-content3 .viewTodos 
{
    margin-top: 30px;
}

.modal-content3 .viewTodo 
{
    border: 1px solid lightgrey;
    margin-bottom: 10px;
    padding-left: 5px;
}

.modal-content3 .viewTodo p.name
{
    font-size: 16px;
    font-weight: bold;
}

/* The Close Button */
.close, .close2, .close3{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus,
.close2:hover, .close2:focus,
.close3:hover, .close3:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#AddCatBtn{ 
    font-weight: bold;
    font-size: 16px;
    padding-left: 45%; 
    padding-right: 45%; 
    font-size: 25px;
}

#AddCatBtn, #CatBtn{
    background-color: #F8F8FF;
    color:  #696969;
    display: block; 
    text-decoration: none; 
    border: none; 
}

#CatBtn{
    padding: 20px;
    padding-left: 45%; 
    padding-right: 45%; 
}


#AddCatBtn:hover, #CatBtn:hover{
    background-color: #ccc; 
}

form input.invalid {
  border: 1px solid red;
  box-shadow: red 0 0 2px 2px;
}

form input.invalid + .hint{
  visibility: visible;
}

form textarea.invalid {
  border: 1px solid red;
  box-shadow: red 0 0 2px 2px;
}

form textarea.invalid + .hint{
  visibility: visible;
}


form .hint {
  font-size: 0.6em;
  padding: 0.5em;
  align-self: center;
  visibility: hidden;
}


</style>