
body {
    background-color: #F5F5F5;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

body > header {
    background-color: #696969;
    color: white;

    padding: 0.5em;
    border-left: 1em;
}

body > header a {
    color: white;
    text-decoration: none;
}

.vertical-menu h2{
    display: none;
}

.vertical-menu {
    float: left;
    width: 150px; /* Set a width if you like */
    height: 100%;
    background-color: #eee;
    position: absolute;
}

.vertical-menu ul li {
    list-style: none;
    display: block;
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 20px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
    
}

.todo {
    margin-top: 30px;
    float: right;
    align-content: right;
    width: 80%;
    height: 200px;
    line-height: 8px;
}

.todo div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.todo > article{
    background-color: #eee; 
    border-radius: 25px;
    border: 2px solid #696969;
    padding-left: 15px;
    width: 90%;
    height: 150px; 
    margin-top: 10px;
}


.todo .add a {
    text-decoration:none;
    color: white;
}
.todo .add {
    width: 85%;
    background-color: #555555;
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    display: block;  
}
textarea {
    width: 80%;
    resize: none;
    }

input[type=text], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*botton submit*/
input[type=submit] {
    width: 80%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.Buttons > ul {
  list-style:none;
  margin:0;
  font-size:110%;
  padding-top:200px;
  padding-left:700px;
}

.Buttons > ul > li a {
    text-decoration:none;
    color:white;
}

.Buttons > ul > li {
    display: inline-block;
    width: 80%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
    
}

.Buttons > ul > li:hover{
 background-color: #45a049;   
}

.startButtons > ul {
  top:400px;
  list-style:none;
  margin:0;
  font-size:110%;
  padding-top:350px;
  padding-left:35%;
}

.startButtons > ul > li a {
    text-decoration:none;
    color:white;
}

.startButtons > ul > li {
    
    width: 100px;
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;    
    margin: 30px;
    
}